html {
	overflow: hidden !important;
}
body{
    padding: 0 !important;
    margin: 0 !important;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--v-color-primary-base);
	border-radius: 2px;
	border: 0px solid transparent;
}
