.ma-0 {
	margin: 0px !important;
}
.ma-10 {
	margin: 10px !important;
}
.ma-15 {
	margin: 15px !important;
}
.ma-20 {
	margin: 20px !important;
}
.ma-25 {
	margin: 25px !important;
}
.ma-30 {
	margin: 30px !important;
}
.ma-40 {
	margin: 40px !important;
}
.ma-50 {
	margin: 50px !important;
}
.ma-100 {
	margin: 100px !important;
}
.ma-150 {
	margin: 150px !important;
}
.ma-200 {
	margin: 200px !important;
}

.ml-0 {
	margin-left: 0px !important;
}
.ml-10 {
	margin-left: 10px !important;
}
.ml-15 {
	margin-left: 15px !important;
}
.ml-20 {
	margin-left: 20px !important;
}
.ml-25 {
	margin-left: 25px !important;
}
.ml-30 {
	margin-left: 30px !important;
}
.ml-40 {
	margin-left: 40px !important;
}
.ml-50 {
	margin-left: 50px !important;
}
.ml-100 {
	margin-left: 100px !important;
}
.ml-150 {
	margin-left: 150px !important;
}
.ml-200 {
	margin-left: 200px !important;
}

.mt-0 {
	margin-top: 0px !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-15 {
	margin-top: 15px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-25 {
	margin-top: 25px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-100 {
	margin-top: 100px !important;
}
.mt-150 {
	margin-top: 150px !important;
}
.mt-200 {
	margin-top: 200px !important;
}


.mr-0 {
	margin-right: 0px !important;
}
.mr-10 {
	margin-right: 10px !important;
}
.mr-15 {
	margin-right: 15px !important;
}
.mr-20 {
	margin-right: 20px !important;
}
.mr-25 {
	margin-right: 25px !important;
}
.mr-30 {
	margin-right: 30px !important;
}
.mr-40 {
	margin-right: 40px !important;
}
.mr-50 {
	margin-right: 50px !important;
}
.mr-100 {
	margin-right: 100px !important;
}
.mr-150 {
	margin-right: 150px !important;
}
.mr-200 {
	margin-right: 200px !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-15 {
	margin-bottom: 15px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-25 {
	margin-bottom: 25px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-40 {
	margin-bottom: 40px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-100 {
	margin-bottom: 100px !important;
}
.mb-150 {
	margin-bottom: 150px !important;
}
.mb-200 {
	margin-bottom: 200px !important;
}




